.amount{
    background-color: rgb(228, 227, 227);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 2px 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.amount >div:first-of-type{
  border-right: 1px solid #dedede;  
}
.amount >div{
  flex: 1;
  text-align: center;
  box-sizing: border-box
}

h4 {
  margin: 0;
  text-transform: uppercase;

}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.neg {
  color: green;
}

.money.pos {
  color: red;
}